/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* General */
body{
    font-family: "Open Sans", sans-serif;
    min-width: 1200px;
}
header{
    margin: 20px 15px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root {
    --color-background: #ffffff;
    --color-background-image: #b4d0e7;
    --color-button: #0061ff;
    --color-background-footer: #000000;
    --color-bg-designit: #a2d39b;
    --color-bg-asu: #61082b;
    --color-bg-uniflorida: #0093ce;
    --color-bg-topps: #ff1c1c;
    --color-bg-designit-center: #f5f5f5;
    --color-bg-bicycle: #d5001f;
    --color-bg-lonelyplanet: #0d2481;
    --color-bg-herst: #b4d0e7;
    --color-bg-clearchannel: #ffd830;
    --color-text-buisness: #61082b;
}

/* navigation */
nav a, .btn{
    padding-left: 40px;
    padding-right: 30px;
    color: var(--color-background-footer);
    text-align: center;
    
}
nav{
    background-color: var(--color-background);
}
#hero{
    background-color: var(--color-background-image);
    height: 65%;
    padding-top: 30px;
    margin-bottom: 60px;
    z-index: 3000;
}
h1{
    font-size: 4em;
    word-spacing: 5px; 
    padding-top:40px ; 
}
.image-hero{
    width: 100%;
    position: relative;
    left: 0px;
    top: 35px;
}

.left{
    width: 40%;
}
.right{
    width: 60%;
}
#img1{
    width: 100%;
}
.btm-left{
    width: 60%;
    padding-bottom: 30px;
}
.btm-right{
    width: 40%;
}

/* main */
h2{
    padding-bottom: 35px;
}
h4{
    padding-bottom: 20px;
}
p{
    padding-top: 30px;
}
li{
    list-style: none;
}
.selection{
    padding: 10px 3px;
    font-size: 12px;
}

/* Padding */
.p-left-20{
    padding-left: 20px;
}
.p-btm-20{
    padding-bottom: 20px;
}
.p-btm-30{
    padding-bottom: 30px;
}
.p-btm-top-20{
    padding-top: 20px;
}

/* column */

.column{
    padding-top:40px ;  
    gap: 30px; 
}

.grey{
    color: grey;
    padding-top: 20px;
}
.border-box{
    border: 1px solid rgba(0, 0, 0, 0.251);
}
.border-box-top{
    border-bottom: 1px solid rgba(0, 0, 0, 0.251);
}
.fa-check{
    color: #0161FF ;
}
.btm-bottom{
    margin-top: 70px;
}
.team{
    text-align: center;
}
.contat{
    margin-top: 0;
    margin-left: 175px;
}

#agency{
    width: 100%;
}

/* button */
.btn{
    background-color: #0161FF;
    color: var(--color-background);
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.white{
    background-color: var(--color-background);
    color: var(--color-background-footer);
    border: 1px solid var(--color-background-footer);
}

/* Parter */
#partners h4, small{
    font-size: 20px;
}
#partners .btn{
    margin-top: 50px;
}
section div img{
    width: 100%;
}
.left-img{
    width: 60%;
}
.right-text{
    width: 30%;
}
/* Business */
.card{
    width: calc(100% / 3 - 20px);
    cursor: pointer;
}
.card-img{
    /* position: relative; */
}
.card img{
    width: 100%;
}
.image{
   /*  display: block; */
}
.gap{
    gap: 20px;
}

/* Input utility */
input[type="radio"]{
    margin: 0px 10px 0px 0px;
  }

  input[type="radio"]#anno{
    margin: 0px 10px 0px 35px;
  }





.free{
    margin-top: 30px;
}

#arrow-down { 
    color: var(--color-background-footer); 
    padding-top: 40px; 
    border-radius: 50%; 
    font-size: 50px; 
  }




.debug{
    border: solid 1px red;
}
.debug-1{
    border: 1px solid black;
}

.padding{
    padding: 30px;
}



/* container */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.small-container{
    max-width: 1100px;
    margin: 0 auto;
}





/* flex utility */
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.j-content-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-start{
    justify-content: flex-start;
}
.j-end{
    justify-content: flex-end;
}
.j-center{
    justify-content: center;
}
.align-center{
    align-items: center;
    align-content: center;
}
.stretch{
    align-self: stretch;
    height: 90vh;
}
.f-wrap{
    flex-wrap: wrap;
}